.history{
    position: relative;
    margin-top: 20px;
    height: 35vh;
    overflow-y:scroll;
}
.history p{
    font-size: 13px;
    color: #3c3c3c;
}
.history .message{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #959595;
}
.history ul{
    padding-top: 10px;
}
.history ul li{
    text-indent: 10px;
    font-size: 15px;
    padding: 30px 0;
    color: #3c3c3c;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: 0.1s ease-in;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #dee2e6; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}