*{
  list-style: none;
  margin: 0;
  padding: 0;
}
.App {
  box-sizing: border-box;
  width: 50vh;
  margin: 20px auto 0;
  
}



.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 15px;
  color: #ccc;
  text-align: center;
}